@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }
}

body,
html {
    height: 100%;
    width: 100%;
} 


$Inter-font: Inter;
$dark-color: #181E29;
$white-color: #C9CED6;
$primary-color: #144EE3; 

.dark-btn {
    border: 1px solid #353C4A;
    border-radius: 48px;
    display: inline-block;
    padding: 16px 25px;
    background: $dark-color;
    font-family: $Inter-font;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px #0000001A;

}

.primary-btn {
    background: $primary-color;
    border: 1px solid $primary-color;
    box-shadow: 10px 9px 22px 0px #144EE361;
    font-family: $Inter-font;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 21px 36px;
    display: inline-block;
    border-radius: 48px;
}

.btn-group {
    display: flex;
    gap: 20px;
}

body {
    background: url(../images/main-bg.png) no-repeat center;
    background-color: #0B101B;
    background-size: cover;
}

header {
    padding-top: 40px;
    width: 100%;
}

.main-container {
    max-width: 966px;
    margin: auto;
    padding-top: 190px;

    h1 {
        font-family: $Inter-font;
        font-size: 60px;
        font-weight: 800;
        line-height: 80.01px;
        text-align: center;
        background-image: linear-gradient(89.92deg, $primary-color -0.02%, #EB568E 18.86%, #A353AA 64.49%, $primary-color 100.67%);
        color: transparent;
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        margin-bottom: 20px;
    }

    p {
        font-family: $Inter-font;
        font-size: 16px;
        font-weight: 300;
        line-height: 23.5px;
        text-align: center;
        color: $white-color;
        max-width: 634px;
        margin: auto;
        margin-bottom: 46px;
    }

    .input-cover {
        max-width: 659px;
        position: relative;
        margin: auto;
        display: flex;
        align-items: center;

        .primary-btn {
            position: absolute;
            right: 8px;
        }

        .link-icon {
            position: absolute;
            left: 25px;
        }
    }

    .url-input {
        width: 100%;
        border-radius: 48px;
        border: 4px solid #353C4A;
        background: #181E29;
        box-shadow: 0px 4px 10px 0px #0000001A;
        height: 76px;
        font-family: $Inter-font;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: left;
        color: $white-color;
        outline: none !important;
        padding-left: 70px;

        &::placeholder {
            color: $white-color;

        }

    }

    .auto-paste-wrap {
        margin-top: 32px;

        .form-switch {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }

        .form-check-label {
            font-family: $Inter-font;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: white;

        }

        .form-check-input {
            width: 44px;
            height: 24px;
            padding: 0;
            margin: 0;
        }

        p {
            span {
                color: #EB568E;

            }
        }
    }
}

main {
    padding-bottom: 50px;
}

.table-sec {
    margin: auto;
    overflow: auto;
    .table {
        width: 1241px;
        margin: auto;
        border-spacing: 0 3px;
        border-collapse: separate;
        text-align: left;

        tr {
            box-shadow: 0px 4px 10px 0px #0000001A;
        }

        th {
            background: #181E29;
            color: $white-color;
            font-family: $Inter-font;
            font-size: 15px;
            font-weight: 700;
            text-align: left;
            padding: 25px;
            border: 0;

            &:first-child {
                border-radius: 10px 0 0px 0px;
            }

            &:last-child {
                border-radius: 0 10px 0px 0px;
            }
        }

        td {
            background: #0E131E;
            box-shadow: 0px 4px 10px 0px #0000001A;
            border: 0;
            padding: 13px 25px;
            vertical-align: middle;
            color: $white-color;
            font-family: $Inter-font;
            font-size: 14px;
            font-weight: 300;

            span {
                display: inline-block;
            }
        }

        .active-stauts {
            color: #1EB036;

        }

        .inactive-stauts {
            color: #B0901E;

        }
    }
}

.theme-btn {
    background: #181E29;
    border: 1px solid #353C4A;
    box-shadow: 0px 4px 10px 0px #0000001A;
    border-radius: 48px;
    padding: 8px;
    width: fit-content;
    position: fixed;
    top: 50%;
    right: 0;
    rotate: 90deg;
    span {
        padding: 8px 14px;
        display: inline-block;
        font-family: $Inter-font;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: left;
        color: #C9CED6; 
        border-radius: inherit;
        cursor: pointer;
        img{
            display: inline-block;
            margin-right: 10px;
        }
    }
    .active{
        background: $primary-color;
    }
}